*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(57, 57, 57);
}
.head_bodi {
    display: flex;
    padding: 25px;
}
.heder_left {
    background-color: rgb(215, 20, 20);
    margin-right: 30px;
    display: flex;
    color: aliceblue;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}
.heder_left-bloc {
    border: 3px solid #ffffff;
    border-radius: 50%;
    color: aliceblue;
    width: 30px;
    height: 30px;
    margin-right: 6px;
}
.left_side_circl {
    border-radius: 50%;
    background-color: aliceblue;
    width: 18px;
    height: 18px;
    margin: 3px ;
}
.header_left-text {
    margin-right: 10px;
    font-weight: 600;
}
.heder_right {
    padding: 15px;
    width: 100%;
    background-color: rgba(105, 99, 99, 0.611);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.header_right-side {
    display: flex;
    justify-content: space-between;
}
.header_right-arow {
    border: 3px solid #ffffff;
    width: 30px;
    height: 20px;
    margin: 5px;

}
.right_text-side {
margin: 5px;

}
.stop {
    color: rgba(106, 106, 221, 0.722);
    margin: 5px;
}
.menu {
    width:1530px ;
    height: 600px;
    display: flex;
    justify-content: space-around;
}
.strem {
    width: 950px;
    height: 500px;
    background-color: aqua;
    margin: 20px;
    border-radius: 30px;
    background-image: url(./img/chatgpt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.peple_1 {
    width: 250px;
    height: 150px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 20px;
    background-image: url(./img/professiya-uchitelya-vuzy-chehii.jpg);
    background-size: cover;
}
.peple_2 {
    width: 250px;
    height: 150px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 20px;
    background-image:url(./img/Oskorblenie-uchitelya.jpg) ;
    background-size: cover;
}
.peple_3 {
    width: 250px;
    height: 150px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 20px;
    background-image: url(./img/368427_1.jpg);
    background-size:cover;
}
.peple_4 {
    width: 250px;
    height: 150px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 20px;
    background-image: url(./img/UN0497659.jpg);
    background-size:cover;

}
.peple_5 {
    width: 250px;
    height: 150px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 20px;
    background-size:cover;
    background-image: url(./img/завантаження.jfif);
}
.more {
    width: 250px;
    height: 150px;
    background-color: rgba(68, 65, 65, 0.611);
    margin: 5px;
    border-radius: 20px;
    display: flex;
    color: rgb(255, 254, 254);
}
.peple {
    width: 500px;
    height: 500px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.more_peple {
    margin: 70px auto;
}
