*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(57, 57, 57);
}
.head {
}
.head_bodi {
    display: flex;
    padding: 25px;
}
.heder_left {
    background-color: rgb(215, 20, 20);
    margin-right: 30px;
    display: flex;
    color: aliceblue;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}
.heder_left-bloc {
    border: 3px solid #ffffff;
    border-radius: 50%;
    color: aliceblue;
    width: 30px;
    height: 30px;
    margin-right: 6px;
}
.left_side_circl {
    border-radius: 50%;
    background-color: aliceblue;
    width: 18px;
    height: 18px;
    margin: 3px ;
}
.header_left-text {
    margin-right: 10px;
    font-weight: 600;
}
.heder_right {
    padding: 15px;
    width: 100%;
    background-color: rgba(105, 99, 99, 0.611);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.header_right-side {
    display: flex;
    justify-content: space-between;
}
.header_right-arow {
    border: 3px solid #ffffff;
    width: 30px;
    height: 20px;
    margin: 5px;

}
.right_text-side {
margin: 5px;

}
.stop {
    color: rgba(106, 106, 221, 0.722);
    margin: 5px;
}